<!DOCTYPE html>
<html lang="en">
  <%- include("./head") %>

  <body className="shop-view">
    <%- include("./partials/header") %>
   
    <h2 id="shop">Tienda</h2>

    <nav>
      <a href="/cart">ver carrito</a> 
    </nav>

    <hr />

    <% if (products.length === 0) { %>
      <p>No products available.</p>
    <% } else { %>
      <% products.forEach((product) => { %>
        <section>
          <h2><%= product.name %></h2>
          <img src="<%= product.image %>" alt="Product image" />
          <p><strong>Price:</strong> <%= product.price %> €</p>

          <% if (product.stock > 0) { %>
            <form action="/cart" method="POST">
              <input type="hidden" name="product_id" value="<%= product.id %>" />

              <label for="quantity-<%= product.id %>">cantidad:</label>
              <input
                id="quantity-<%= product.id %>"
                type="number"
                name="quantity"
                min="1"
                max="<%= product.stock %>"
                value="1"
                required
              />

              <button type="submit">Add to cart</button>
            </form>
          <% } else { %>
            <p><strong>Out of stock</strong></p>
          <% } %>

          <hr />
        </section>
      <% }) %>
    <% } %>
        <%- include("./partials/footer") %>
        <script src="/js/menuHamburger.js"></script>

  </body>
</html>